<!doctype html>
<html lang="en">
<head>
    <script src="angular/angular.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div ng-app="myApp"
     ng-controller="myCtrl"
     ng-init="indexMode=true; inputHint='http://'"
>
    <div class="container">
        <h1>Inverted Indexing</h1>
        <h3>with the Node.js "Wink" NLP Library</h3>
        <div class="row">
            <div class="col-sm-12">
                <button type="button"
                        ng-click="indexMode=false;inputHint='search words';input='';"
                        class="btn btn-default">
                    <span ng-class="{ 'highlighted': indexMode == false }">Search Mode</span>
                </button>
                |
                <button type="button"
                        ng-click="indexMode=true;inputHint='http://';input=''"
                        class="btn btn-default">
                    <span ng-class="{ 'highlighted': indexMode == true }">Index Web Site Mode</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="text"
                       class="form-control"
                       ng-attr-placeholder="{{inputHint}}"
                       ng-model="input"
                ></input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button"
                        ng-click="search()"
                        class="btn btn-primary"
                        ng-show="!indexMode"
                >
                    Search
                </button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="index()"
                        ng-show="indexMode"
                >
                    Index
                </button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="clear()"
                >
                    Clear
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="results">
                <div>
                    {{ stringResult }}
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-12" ng-show="searchResults">
                <span>Results by Search Words Stem</span>
                <div ng-repeat="item in searchResults track by $index"  >
                    <h3>{{ item.stem }}</h3>
                    <div ng-repeat="entry in item.lookup"  >
                        <a target="{{ entry.title }}" href="{{ entry.entry }}">{{ entry.title }}</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- app -->

<script src="angularCtrl.js"></script>
<script>
    var socket = io.connect('http://localhost:3001');
    // Socket.io listeners
    socket.on('connect', function(data) {
        socket.emit('join', 'Hello Hello');
    });
    socket.on('result', function(msg) {
        $('#results').empty();
        $('#results').append(msg + "<br/>");
    });
    // Angular app and controller
    var app = angular.module("myApp", []);
    app.controller("myCtrl", angularCtrl);
</script>
</body>
</html>